### python gitignore
__pycache__/
*.pyc

### Vue gitignore
dist
node_modules

### common gitignore
.DS_Store
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
log
logs
*.log.*
*.db
*.lock
tmp
cache

### IDE
.vscode
.idea
*.nogit*
*.private*
*.secret*

*.pdf
src/data
*/package-lock.json
web/package-lock.json
saves
saves_dev
notebooks
graphrag
docker/volumes
.cursorrules

/models
