### python gitignore
__pycache__/
*.pyc

### Vue gitignore
dist
node_modules

### common gitignore
.DS_Store
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
log
logs
*.log.*
*.db
*.lock
tmp
cache

### IDE
.vscode
.idea
*.nogit.*

*.pdf
*.yaml
src/data
neo4j*
*/package-lock.json
web/package-lock.json
saves
notebooks
local_neo4j/data
local_neo4j/logs
local_neo4j/import
local_neo4j/plugins
local_neo4j/conf