@import './base.css';
@import './base.dark.css';
@import './sigma.css';
@import './shorts.css';
@import './dashboard.css';

:root {
  --header-height: 45px;
  --min-width: 450px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  display: flow-root;
  min-height: 100vh;
  color: var(--gray-900);
  background: var(--gray-0);
  line-height: 1.6;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Noto Sans SC', 'Roboto', 'HarmonyOS Sans SC', 'Segoe UI',
    'Helvetica Neue', Arial, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* layout */

.layout-container {
  width: 100%;
  padding: 0px 30px;

  h2 {
    margin: 20px 0 10px 0;
  }
}

.iconfont {
  max-width: 100%;
  max-height: 100%;

  &.icon-10 {
    width: 10px;
    height: 10px;
  }

  &.icon-16 {
    width: 16px;
    height: 16px;
  }

  &.icon-20 {
    width: 20px;
    height: 20px;
  }

  &.icon-24 {
    width: 24px;
    height: 24px;
  }
}
