@import './base.css';
@import './base.dark.css';
@import './sigma.css';
@import './shorts.css';
@import './dashboard.css';
@import './markdown-preview.less';
@import './code-highlight.less';

:root {
  --header-height: 45px;
  --min-width: 450px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  display: flow-root;
  min-height: 100vh;
  color: var(--gray-900);
  background: var(--gray-0);
  line-height: 1.6;
  font-family: ui-sans-serif, -apple-system, "system-ui", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, "sans-serif", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* layout */

.layout-container {
  width: 100%;
  padding: 0 var(--page-padding);

  h2 {
    margin: 20px 0 10px 0;
  }
}

.lucide-icon-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.lucide-icon-btn svg {
  flex-shrink: 0;
}
