/* color palette from <https://github.com/vuejs/theme> */
:root {
  --main-900: #003A51;
  --main-800: #004F69;
  --main-700: #00637F;
  --main-600: #1B7796;
  --main-500: #2C86A8;
  --main-400: #4e99b9;
  --main-300: #6AADCB;
  --main-200: #8CC6E1;
  --main-100: #ABE0F7;
  --main-50: #CDF5FF;
  --main-25: #E6FAFF;
  --main-10: #F5FDFF;

  --c-white: #ffffff;
  --c-white-soft: #f8f8f8;
  --c-white-mute: #f2f2f2;

  --c-black: #202428;
  --c-black-soft: #222222;
  --c-black-mute: #282828;

  --c-black-light-1: #333333;
  --c-black-light-2: #454545;
  --c-black-light-3: #666666;
  --c-black-light-4: #999999;

  --c-text-light-1: var(--c-black);
  --c-text-dark-1: #0D0D0D;
  --c-text-dark-2: #b8b8b8;
  --color-text: var(--c-black);

  --main-color: var(--main-700);
  --main-color-dark: #004d5c;
  --main-light-1: #0076AB;
  --main-light-2: #DAEAED;
  --main-light-3: #EDF0F1;
  --main-light-4: #F2F5F5;
  --main-light-5: #F7FAFB;
  --main-light-6: #FAFDFD;
  --min-width: 400px;
  --error-color: #f50a0d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  display: flow-root;
  min-height: 100vh;
  color: var(--color-text);
  line-height: 1.6;
  font-family: 'HarmonyOS Sans SC', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
