/* color palette from <https://github.com/vuejs/theme> */
:root {
  --c-white: #ffffff;
  --c-white-soft: #f8f8f8;
  --c-white-mute: #f2f2f2;

  --c-black: #181818;
  --c-black-soft: #222222;
  --c-black-mute: #282828;

  --c-indigo: #2c3e50;

  --c-divider-light-1: rgba(60, 60, 60, 0.29);
  --c-divider-light-2: rgba(60, 60, 60, 0.12);
  --c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --c-text-light-1: var(--c-indigo);
  --c-text-light-2: rgba(60, 66, 70, 0.66);
  --c-text-dark-1: var(--c-white);
  --c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--c-white);
  --color-background-soft: var(--c-white-soft);
  --color-background-mute: var(--c-white-mute);

  --color-border: var(--c-divider-light-2);
  --color-border-hover: var(--c-divider-light-1);

  --color-heading: var(--c-text-light-1);
  --color-text: var(--c-text-light-1);

  --section-gap: 160px;

  --main-color: #005f77;
  --main-color-light: #007f96;
  --main-color-dark: #004d5c;
  --min-width: 400px;
  --min-header-width: 80px;
  --min-sider-width: 100px;
  --error-color: #f50a0d;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--c-black);
    --color-background-soft: var(--c-black-soft);
    --color-background-mute: var(--c-black-mute);

    --color-border: var(--c-divider-dark-2);
    --color-border-hover: var(--c-divider-dark-1);

    --color-heading: var(--c-text-dark-1);
    --color-text: var(--c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  display: flow-root;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'HarmonyOS Sans SC', Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
