.message-md {
    color: var(--gray-900);
    max-width: 100%;
}

.message-md pre {
    border-radius: 8px;
    font-size: 0.9rem;
    border: 1px solid var(--main-light-3);
    padding: 1rem;
}

.message-md pre:has(code.hljs) {
    padding: 0;
}

.message-md pre code.hljs {
    font-size: 0.8rem;
    font-family: 'Menlo', 'Monaco', 'Consolas', 'PingFang SC', 'Microsoft YaHei', 'Hiragino Sans GB', 'Source Han Sans CN', 'Courier New', monospace;
    line-height: 1.5;
    letter-spacing: 0.025em;
    tab-size: 4;
    -moz-tab-size: 4;
    background-color: var(--gray-100);
}

.message-md strong {
    color: var(--gray-800);
}

.message-md h1,
.message-md h2,
.message-md h3,
.message-md h4,
.message-md h5,
.message-md h6 {
    font-size: 1rem;
}

.message-md li > p,
.message-md ol > p,
.message-md ul > p {
    margin: 0.25rem 0;
}

.message-md ol,
.message-md ul {
    padding-left: 1rem;
}

.message-md hr {
    margin-bottom: 1rem;
}

.message-md a {
    color: var(--main-800);
    margin: auto 2px;
}